{% extends "pages/page.html"%}

{%block title%} Consulta {%endblock title%}

{%block content%}
<h1>Probador de teoremas Wang</h2> 

{% if submitted%}
    <p class="success">
        Su expresion fue enviada correctamente
    </p>
    
{%else%}
    <form action="" method="post" novalidate>
    <table>
        {{form.as_table}}
        <tr>
            <td>&nbsp;</td>      
            <td><input type="button" value="Enviar" onclick='enviarPruebaLogica()'></td>
        </tr>
    </table>
    {% csrf_token%}
    </form>
    <h3> {{mensaje}}{{respuesta}} </h3>
    {%endif%}
    {%endblock content%}