{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wang Tester</title>
        <link href="{% static 'favicon.png' %}" rel="shortcut icon">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet"  type="text/css">
        
    </head>
    <body onload="getproofs();">
        <header id="header">
            <img style="width: 100%; height:80px;" src="{% static 'Logo3.png' %}" alt=""/>
        </header>
        <div class="container">
            <br>
            <h1>Welcome to a logical tester</h1>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <form action="javascript:sendLogicalTest();">
                        <div class="p-3 mb-2 bg-light text-dark">
                            <label><b>Logical Rules and Format</b></label>
							<ul>
								<li> AXIOM <span class="text-danger"> "p => p" </span></li>
								<li> AND LEFT <span class="text-danger"> "& =>" </span></li>
								<li> OR RIGHT <span class="text-danger"> "=> |" </span></li>
								<li> EQUIV <span class="text-danger">  "p->q" </span></li>
								<li> BICONDITIONAL <span class="text-danger"> "<->" </span></li>
								<li> AND RIGHT <span class="text-danger"> "=> &" </span></li>
								<li> OR LEFT <span class="text-danger"> "| =>" </span></li>
								<li> NOT LEFT <span class="text-danger"> "~p =>" </span></li>
								<li> NOT RIGHT <span class="text-danger"> " => ~p" </span></li>
								<li> END THE EXPRESSION WITH A <span class="text-danger"> "." </span></li>
								<li> EXAMPLES:
									<ul>
										<li><span class="text-success"> RIGHT:   </span> p1 -> p => (q & r), p. </li>
										<li><span class="text-danger"> WRONG: </span> p1 -> q => (<span class="text-danger">1</span> & <span class="text-danger">2</span>), <span class="text-danger">Q</span>. </li>
									</ul>
								</li>
							</ul>
                        </div>
						<label for="idExpresion">Expression:</label>
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <input type="text" class="form-control" id="idExpression" maxlength="50" autocomplete="off" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <input type="submit" class="btn btn-success" value="Test">
                            </div>

                        </div>
                    </form>
					<hr class="m4">
					<button class="btn btn-default" style="width:45%;"  type="button" data-toggle="collapse" data-target="#areaTree" aria-expanded="false" aria-controls="areaTree">
                        Other expressions
                    </button>
                    <hr class="m4">
                    <div class="collapse" id="areaTree">
						<div id="divTable">
							<table id="tblData" data-toggle="table" data-pagination="true" data-search="true" searchOnEnterKey="true" sortStable="true" data-height="550" data-page-size="10" data-page-list="[10, 20, 50]" data-striped="true">
								<thead>
									<tr>
										<th scope="col" data-field="id" data-width="10%"><center>#</center></th>
										<th scope="col" data-field="expresion" data-width="70%"><center>Expression</center></th>
										<th scope="col" data-formatter="btnShowTree" data-width="20%"><center>Test</center></th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
                <div class="col-md-6 mb-3">
					<div class="row">
						<div class="col-md-1 mb-3">
							<div style="border-left: 6px solid green;height: 100%; min-height:500px;"></div>
						</div>
						<div class="col-md-11 mb-3">
							<h5 class="text-center">Test tree</h5>
							<div class="text-center" id="divAnswer">
							
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <footer id="footer"></footer>
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-table-en-US.min.js' %}"></script>
        <script src="{% static 'axios.min.js'%}"></script>
        <script src="{% static 'viz.js' %}"></script>
        <script src="{% static 'full.render.js' %}"></script>
        
        <script>

			function btnShowTree(value, row, index){
				var string = "<button type='button' id ='" + row.id + "' class='btn btn-sm btn-danger btn-block' onclick='showTree('');'>View</button>";
                return string;
			}
			
			function showTree(answer){
				console.log('delia');
			}
			
			function getproofs(){
				axios.get('http://localhost:8000/requestAPI/all/')
				.then(function (response) {
					$('#tblData').bootstrapTable('load', response.data);
				})
				.catch(function (error) {
					console.log(error);
				});
			}
			
            function treeInfo(value, row, index){
                string = row.respuesta;
                return string;
            }
            var axiomNumber = 1;
            var errorNumber = 1;
            function sendLogicalTest() {
                let test = document.getElementById("idExpression").value;
                axios.post('http://localhost:8000/requestAPI/', {
                    "expresion": test
                })
                        .then(function (response) {
                            datos = response.data.respuesta
							divR = document.getElementById("divAnswer");
							divR.className = "alert alert-danger";
							try{
								datosJSON = JSON.parse(datos)
								showTree(datosJSON, divR);
							}catch(except){
								divR.innerHTML =  datos + ": " + response.data.expresion;
							}
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
            }
            function showTree(data, div){
                let viz = new Viz();
                viz.renderSVGElement('digraph T { node [shape=rectangle,color=black];' + buildStringTree(data) + '}')
                    .then(function (element) {
                            div.innerHTML = "";
							div.className = "";
                            div.appendChild(element);
                        })
                        .catch(error => {
                            viz = new Viz();
                            console.error(error);
                        });         
                axiomNumber = errorNumber = 1; 
            }
            function buildStringTree(data) {
                let ded = data.deduction.split(" => ");
                let left = ded[0].split(", ");
                let right = ded[1].split(", ");
                let string = '';
                if(data.RuleType === "AXIOM"){
                    let axiomNode = '"' + axiomNumber + '. AXIOM: ' + left[data.posLeft] + '"[shape=tripleoctagon, color=green];';
                    return axiomNode + '"' + data.deduction + '"->"' + axiomNumber++ +'. AXIOM: ' + left[data.posLeft] + '";';  
                }
                else if(data.children.length === 0){
                    let notProvenNode = '"' + errorNumber + '. NOT PROVEN"[shape=doubleoctagon, color=red];';
                    return notProvenNode + '"' + data.deduction + '"->"' + errorNumber++ +'. NOT PROVEN";'; 
                } else {
                    for(let child of data.children){
                        if(data.RuleType === "EQUIV" || data.RuleType === "BICONDITIONAL"){
                            let changes = (data.posLeft !== -1 ? left[data.posLeft] : right[data.posRight]);
                            string += '"' + data.deduction + '"->"' + child.deduction + '"[label="   ' + data.RuleType + ': ' + changes + '"];';
                            string += buildStringTree(child);
                        } else {
                            let changes = (isLeft(data.RuleType)? left[data.pos] : right[data.pos]);  
                            string += '"' + data.deduction + '"->"' + child.deduction + '"[label="   ' + data.RuleType + ': ' + changes + '"];';
                            string += buildStringTree(child);
                        }
                    }
                }
                return string;  
            }
            function isLeft(rule) {
                return (rule === "OR LEFT" || rule === "AND LEFT" || rule === "NOT LEFT");
            }
        </script>
    </body>
</html>

